/* banner */
.banner {
  background-image: url(../img/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
  background-position: center;
  position: relative;
}
.banner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(8 8 8 / 14%);
}
.banner_content {
  margin: 0 auto;
  padding: 120px 15px 0 15px;
}
.banner_content h4 {
  padding-left: 2rem;
}
.banner_content .font-weight-bold {
  font-weight: 700 !important;
}
.banner_content .banner_linked {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  text-transform: capitalize;
  color: #d4d4d4;
  text-align: center;
}
.banner_content .banner_linked a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  transition: all 0.8s;
}
.banner_content .banner_linked a:hover {
  opacity: 1;
}
/* education */
.title_education {
  color: black;
  font-size: 54px;
  line-height: 55px;
  font-weight: 600;
}
.education_content {
  align-self: center;
  padding-right: 3rem;
}
.education_content p {
  line-height: 28px;
  letter-spacing: 0.4px;
  font-size: 18px;
}
.education .play-view {
  left: 0;
  right: 0;
  top: calc(50% - 40px);
}
.education .video-play-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 35px;
  padding-left: 10px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #fff;
  border: 4px solid #fff;
  background: rgb(12 12 12 / 22%);
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
     * Fade-zoom animation for first dialog
     */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* group */
.group {
  background-color: #f8f9ff;
}
.group .group_item {
  padding: 0 15px;
}
.group .group_item .group_item_content {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid #eee;
}
.group_item .icon1 {
  color: #0abf53;
  background: rgb(10 191 83 / 10%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
.group_item h4 {
  transition: all 0.8s;
}
.group_item h4:hover a {
  color: #ff6e65;
}
.group_item h4 a {
  margin: 25px 0 15px 0;
  transition: all 0.8s;
  display: inline-block;
  text-decoration: none;
  color: #060606;
  font-size: 24px;
  font-weight: 600;
}
.group_item p {
  line-height: 28px;
  letter-spacing: 0.4px;
}
.group_item .icon2 {
  color: #ffc947;
  background: rgb(255 201 73 / 22%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
.group_item .icon3 {
  color: #ff4f81;
  background: rgb(255 79 129 / 15%);
  font-size: 30px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border-radius: 50%;
}
/* join */
.join .join_text h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #060606;
}
.join .join_text ul {
  list-style: none;
  padding-left: 0;
}
.join .join_text i {
  margin-right: 8px;
  color: #ff6e65;
}
.join .join_img img {
  border-radius: 8px;
  width: 100%;
}
