* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #707070;
}
.title-heading {
  max-width: 700px;
  margin: auto;
}
.title {
  color: #060606;
  font-size: 40px;
  line-height: 50px;
  font-weight: 600;
  position: relative;
}
.title_span {
  color: #ff6e65;
}
.title::before,
.title::after {
  content: " ";
  background-color: #707070;
  position: absolute;
  height: 2px;
  width: 60px;
  right: 0;
  margin: auto;
}
.title::before {
  left: -20px;
  bottom: -8px;
}
.title::after {
  left: 20px;
  bottom: -15px;
}
.btn_contact {
  background-color: #ff6e65;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  padding: 14px 30px;
}
.btn_contact:hover {
  background-color: #0d369f;
  color: #fff;
}
/* top_header */
.top_header {
  display: block;
  background-color: #0e369f;
  padding: 14px 15px 0 15px;
  /* position: relative; */
  /* z-index: 1031; */
}
.top_header .top_header_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_header i {
  color: white;
}
.top_header ul li {
  list-style: none;
  margin-right: 2em;
}

/* top_header header_left */
.top_header_content .top_header_left ul {
  display: flex;
}
.top_header_left a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}
.top_header .top_header_left ul li:hover a {
  color: #ff6e65;
}
/* top_header header_right */
.top_header .top_header_right ul {
  display: flex;
}
.top_header_right li i {
  transition: all 0.5s;
}
.top_header_right li:hover i {
  color: #ff6e65;
}
/*header*/
header {
  display: grid;
  align-items: center;
  height: 90px;
  background-color: white !important;
}
header .navbar {
  /* position: relative; */
  background-color: white !important;
  /* top:45px; */
}
header .navbar h1 {
  font-size: 26px;
  font-weight: 600;
  color: #0d369f;
  transition: all 0.5s;
}
header h1:hover .navbar-brand {
  color: #ff6e65;
}
header .navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
header .dropdown-item {
  text-transform: uppercase;
}
header .nav-link,
header a.dropdown-item {
  font-size: 16px;
  font-weight: 600;
}
header .nav-item:hover .nav-link,
header a.dropdown-item:hover {
  background: none;
  color: #ff6e65 !important;
}
.dropdown-menu .active {
  color: #ff6e65 !important;
  background-color: white !important;
}
.active {
  color: #ff6e65 !important;
  /* background-color: white !important; */
}
header form{
  position:relative;
}
header form .search_btn{
  position:absolute;
  right: 10px;
  top:5px;
}
header form .form-control{
  font-size: 15px;
  color:#060606;
  border: none;
  background: transparent;
  padding: 10px 35px 10px 20px;
  width: 100%;
  border-radius: 30px;
  border: 2px solid #eee;
}
header form .search_btn:hover{
  color:#ff6e65
}
/* carousel */
.carousel {
  display: relative;
}
.carousel .owl-dots{
  position:absolute;
  right:20px;
  display:flex;
  flex-direction: column;
  bottom:100px;
}
.carousel .owl-dots .active span{
  background-color:#EF6C63 !important;
}
.carousel .owl-dots span{
  background-color:white;
}
.carousel .carousel_item{
  position:relative;
}
.carousel .view_banner:before{
    content: "";
    background: linear-gradient(75deg, rgb(16 16 16 / 34%) 10%, rgb(230 2 100 / 0%));
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
}
.carousel .carousel_item .carousel_content{
  position:absolute;
  top:150px;
  left:100px;
  max-width: 600px;
}
.carousel_item .carousel_bg img{
  background-repeat: no-repeat;
  background-size:cover;
  background-position: top right;
  min-height:90vh;
}
.carousel .carousel_item .carousel_content h5{
  font-size:70px;
  line-height: 80px;
  font-weight: bold;
  color:white;
}
.carousel_item .carousel_content .btn_style{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 16px;
    color: #060606;
    border-radius: 4px;
    background: #fff;
    border: none;
    transition: all .25s ease-in-out;
}
.carousel_item .carousel_content .btn_style:hover{
  background: #EF6C63;
  color:white;
}
/*support */
.support {
  position: relative;
  margin-top: -50px;
  z-index: 1000;
}
.support .color-1 {
  background-color: #037ef3;
}
.support .color-2 {
  background-color: #ffc949;
}
.support .color-3 {
  background-color: #ff4f81;
}
.support .color-4 {
  background-color: #1ee697;
}
.support .area-box {
  padding: 50px 35px;
  border-radius: 8px;
  text-align: center;
}
.support .area-box i {
  font-size: 45px;
  color: #fff;
}
.support .area-box h4 .title-head {
  display: block;
  margin-top: 25px;
  text-decoration: none;
  color: white;
}
/* studious */

.studious .studious-images span {
  color: #0d369f;
  border-radius: 50%;
  background-color: #eaebf6;
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
}
.studious .studious-body .studious-info a {
  text-decoration: none;
  color: black;
}
.studious .studious-body .studious-info h3 {
  font-size: 24px;
  font-weight: 600;
}
.studious .studious-body .studious-info .studious-text {
  margin-top: 15px;
  line-height: 28px;
  letter-spacing: 0.4px;
  text-align: center;
}
/* service */
.row{
  margin:0 -15px;
}
.service{
  background-image: url(../img/bg3.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.service .right_service .bg_item{
  background-color:white;
  padding:30px 74px 30px 30px;
  border-radius: 8px;
}
.service .right_service .icon{
  margin-right:1em;
}
.service .right_service .icon i{
  color:#0d369f;
  font-size:28px;
  background-color: #EAEBF6;
  width:65px;
  height:65px;
  border-radius: 50%;
  line-height: 65px;
  text-align: center;
}
.service .right_service h5{
  line-height: 30px;
  color:#060606;
  font-weight: 600;
  margin-bottom: 6px;
}
.service .right_service p{
  line-height: 28px;
  letter-spacing: .4px;
}
/* number */

.number .number_content .number_item {
  border-right: 1px solid #eee;
}
.number .number_content h3 {
  font-size: 46px;
  font-weight: 600;
  color: #060606;
}
.number .number_content p {
  color: #060606;
}
/* feedback */

.feedback .feedback_items {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 2rem;
  border-radius: 4px;
}
.feedback .feedback_items i {
  font-size: 22px;
  color: #ff6e65;
  line-height: 0.8;
  display: inline-block;
}
.feedback .feedback_items .feedback_q {
  text-indent: 5px;
  line-height: 28px;
  letter-spacing: 0.4px;
}
.feedback .feedback_items .feedback_item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 5px;
  margin-top: 24px;
  align-items: center;
}
.feedback .feedback_items .feedback_item .feedback_img {
  margin-bottom: 22px;
}
.feedback .feedback_items .feedback_item .feedback_img img {
  border-radius: 50%;
}
.feedback .feedback_items .feedback_item .feedback_text h5 {
  font-weight: 600;
  line-height: 16px;
  color: #060606;
}
.feedback .feedback_items .feedback_item .feedback_text p {
  font-size: 13px;
}
/* instructors */
.instructors .instructors_items {
  box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
  padding: 10px;
  border-radius: 8px;
}
.instructors .instructors_items .instructors_item .instructors_img {
  position: relative;
  overflow: hidden;
}
.instructors .instructors_item img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
.instructors .instructors_item .instructors_overlay {
  position: absolute;
  bottom: -100px;
  background: rgb(8 8 8 / 29%);
  padding: 20px 0;
  width: 100%;
  transition: all 0.5s;
}
.instructors .instructors_item:hover .instructors_overlay {
  bottom: 0;
}
.instructors .instructors_items .instructor_icon a {
  text-decoration: none;
}
.instructors .instructors_items .instructors_item .instructors_overlay i {
  font-size: 14px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  color: #0d369f;
}
.instructors .instructors_items .instructors_item .instructors_text h3 {
  font-size: 20px;
  font-weight: 600;
  color: #060606;
}
.instructors .instructors_items:hover .instructors_item .instructors_text h3 {
  color: #ff6e65;
}
.instructors .instructors_items .instructors_item .instructors_text p {
  font-size: 13px;
  margin: 0;
}
/* contact */
.contact .contact_content h3 {
  font-size: 35px;
  font-weight: 600;
  line-height: 45px;
  color: #060606;
}

/* footer */
footer .footer_header {
  background-color: #060e1f;
  padding: 80px 0;
}
footer .footer_form {
  position: absolute;
  background: #fff;
  padding: 50px;
  max-width: 1000px;
  margin: auto;
  right: 0;
  left: 0;
  top: -60px;
  border-radius: 10px;
  box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
footer .footer_text h2 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
  color: #060606;
}
footer .footer_text p {
  font-size: 15px;
  letter-spacing: 1px;
}
footer .footer_input form {
  display: flex;
}
footer .footer_input input {
  padding: 15px 20px;
  width: 100%;
  border-radius: 8px 0 0 8px;
  border: 1px solid #eee;
  outline: none;
}
footer .footer_input input:focus {
  box-shadow: 0 0 0 0.2rem rgba(46, 202, 139, 0.25);
}
footer .footer_input .btn_input {
  background-color: #0d369f;
  color: #fff;
  padding: 16px 30px;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
}
footer .footer_margin {
  margin-top: 120px;
}
footer .footer_top {
  color: #fff;
  font-size: 14px;
}
footer .footer_top ul {
  list-style: none;
  padding-left: 0;
}
footer .footer_top li {
  margin-bottom: 10px;
  color: #cecece;
}
footer .footer_top li:hover {
  color: #fff;
}
footer .footer_top a {
  text-decoration: none;
  color: #cecece;
}
footer .footer_top a:hover {
  color: #fff;
}
footer .footer_top i {
  padding-right: 14px;
  width: 25px;
}
footer .footer_item h6 {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(23, 54, 88, 0.4);
  padding-bottom: 10px;
  font-weight: bold;
  line-height: 20px;
}
footer .footer_contact i {
  font-size: 18px;
}
footer .footer_contact .contact_2 {
  margin: 10px 0;
  padding: 10px 0;
}
footer .footer_contact .contact_3 {
  display: flex;
  align-items: center;
}
footer .footer_top p {
  color: #cecece;
}
footer .footer_contact p {
  margin-bottom: 0;
}
footer .social li {
  margin-right: 10px;
}
footer .social i {
  font-size: 15px;
  background: rgba(255, 255, 255, 0.06);
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  padding-right: 0;
}
footer .footer_border {
  border-right: 1px solid rgb(64 73 82 / 51%);
}
footer .footer_bottom {
  background: #040a17;
  padding: 20px 0;
}
footer .footer_bottom a {
  color: #fff;
  text-decoration: none;
}
footer .footer_bottom a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 991px) {
  .number .number_item {
    border-right: none !important;
  }
  footer .footer_form {
    margin: 0 2em;
    top: -80px;
  }
  
}
@media screen and (max-width: 575px) {
  footer .footer_contact p {
    margin-bottom: 15px;
  }
  footer .footer_item h6 {
    margin: 20px 0 0 0;
  }
  footer .footer_header {
    padding: 80px 0 10px 0;
  }
}
/* back to top */
.back_to_top {
  position: fixed;
  right: 15px;
  bottom: 90px;
  background-color: #0d369f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  transition: all 0.2s;
  box-shadow: -4px 4px 24px -10px #0d369f;
  opacity: 0;
  visibility: hidden;
}
/* // back-to-top button visible */
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
/* // reduce button opacity if user keeps scrolling */
.cd-top--fade-out {
  visibility: visible;
  opacity: 1;
}
